/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	padding: 50px;
	background-color: black;
}

.zavody {
	position: relative;
	width: 1000px;
	height: 679px;
	margin: 0 auto;
	background: url(images/pozadi.jpg) no-repeat top left;
	border: 5px solid rgba(255, 255, 255, 0.3);
}

.raketka1,
.raketka2,
.raketka3 {
	display: block;
	position: absolute;
	left: 5px;
	width: 140px;
	height: 83px;
	animation-name: pohyb;
}

@keyframes pohyb {
	0% {
		transform: translate(0,0) rotate(0);
	}
	44% {transform: translateX(845px) rotate(0);}
	50% {
		transform: translateX(845px) rotate(180deg);
	}
	98% {transform: translate(0,0) rotate(180deg)}
	100% {
		transform: translate(0,0) rotate(0);
	}
}

.raketka1 { 
	top: 150px;
	animation-duration: 5s; 
}
.raketka2 {
	top: 330px;
	animation-duration: 2s;
	animation-delay: 1s; 
}

.raketka3 {
	top: 510px;
	animation-duration: 4s;
 }

