$color-primary: #0095ff;
$default-fonts: "Montserrat, sans-serif";

header {
    border: 5px solid $color-primary;
    &__title {
    color: $color-primary //barva pisma
    }
    
    &__link {
        background-color: $color-primary;
        color: azure;
    }
}

//hlavni nadpis



button {
    background-color: $color-primary;
}


