html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
	margin: 30px;
}

h2 {
	margin-top: 2em;
}

/* ************************************ */

/*
	#0077ff			primární barva
	#c0c0c0			sekundární barva
*/
